%section#goal
  %h2 @eising goes #movember
  %p I want to gather some bucks for men's health during #movember. I've shaven off my beard on November 1st, and will grow a mo'!
  %p
    Want to support me in my quest for a better men's health?
    %a{ :href => 'http://nl.movember.com/mospace/7777989' } Donations are welcome!

%section#thanks
  %h2 Thanks
  %p To Reinier, Henk, Charis, Lauren, Roy, Sander, Kilian and 1 anonymous person for the 130 euros already collected!

%section#mocalendar
  %h2 Mocalendar
  %table
    %tr
      %td.other 28
      %td.other 29
      %td.other 30
      %td.other{ :style => 'background-image:url(/images/photobooth/okt-31-small.jpg)' }
        %a{ :href => '#okt31' } 31
      %td{ :style => 'background-image:url(/images/photobooth/nov-01-small.jpg)' }
        %a{ :href => '#nov01' } 1
      %td{ :style => 'background-image:url(/images/photobooth/nov-02-small.jpg)' }
        %a{ :href => '#nov02' } 2
      %td{ :style => 'background-image:url(/images/photobooth/nov-03-small.jpg)' }
        %a{ :href => '#nov03' } 3
    %tr
      %td{ :style => 'background-image:url(/images/photobooth/nov-04-small.jpg)' }
        %a{ :href => '#nov04' } 4
      %td{ :style => 'background-image:url(/images/photobooth/nov-05-small.jpg)' }
        %a{ :href => '#nov05' } 5
      %td{ :style => 'background-image:url(/images/photobooth/nov-06-small.jpg)' }
        %a{ :href => '#nov06' } 6
      %td{ :style => 'background-image:url(/images/photobooth/nov-07-small.jpg)' }
        %a{ :href => '#nov07' } 7
      %td 8
      %td{ :style => 'background-image:url(/images/photobooth/nov-09-small.jpg)' }
        %a{ :href => '#nov09' } 9
      %td 10
    %tr
      %td 11
      %td 12
      %td 13
      %td 14
      %td 15
      %td 16
      %td 17
    %tr
      %td 18
      %td 19
      %td 20
      %td 21
      %td 22
      %td 23
      %td 24
    %tr
      %td 25
      %td 26
      %td 27
      %td 28
      %td 29
      %td 30
      %td.other 1

%section#nov07
  %h2 Satursay November 9th
  %p At Beelg Geluid mo'
  %img{ :src => '/images/photobooth/nov-09-big.jpg', :alt => 'At Beeld Geluid mo\'' }

%section#nov08
  %h2 Friday November 8th
  %p No photo today :-(

%section#nov07
  %h2 Thursday November 7th
  %p In-house mo'
  %img{ :src => '/images/photobooth/nov-07-big.jpg', :alt => 'In-house mo\'' }

%section#nov06
  %h2 Wednesday November 6th
  %p Strange Mo'
  %img{ :src => '/images/photobooth/nov-06-big.jpg', :alt => 'Strange Mo\'' }

%section#nov05
  %h2 Tuesday November 5th
  %p Belgian Mo'
  %img{ :src => '/images/photobooth/nov-05-big.jpg', :alt => 'Belgian Mo\'' }

%section#nov04
  %h2 Monday November 4th
  %p Scared shitless
  %img{ :src => '/images/photobooth/nov-04-big.jpg', :alt => 'Scared shitless' }

%section#nov03
  %h2 Sunday November 3rd
  %p You can see some stubbles
  %img{ :src => '/images/photobooth/nov-03-big.jpg', :alt => 'You can see some stubbles' }

%section#nov02
  %h2 Saturday November 2nd
  %p Got a haircut this morning, no more curly brown locks of hair
  %img{ :src => '/images/photobooth/nov-02-big.jpg', :alt => 'Got a haircut this morning, no more curly brown locks of hair' }

%section#nov01
  %h2 Friday November 1st
  %p Clean shave
  %img{ :src => '/images/photobooth/nov-01-big.jpg', :alt => 'Clean shave' }

%section#okt31
  %h2 Thursday October 31st
  %p Still a bushy beard
  %img{ :src => '/images/photobooth/okt-31-big.jpg', :alt => 'Still a bushy beard' }